<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXvQDfDj03MDah5cYY2tGsBxmyHWQm_8c</string>
	<key>GCM_SENDER_ID</key>
	<string>355129915051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cseUniversityApp</string>
	<key>PROJECT_ID</key>
	<string>cseuniversityapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cseuniversityapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355129915051:ios:e06ce59eb91cd7931969ee</string>
	<key>DATABASE_URL</key>
	<string>https://cseuniversityapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>